<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.mapper.SparrowUserDeviceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sparrow.entity.SparrowUserDevice">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="device_type" property="deviceType" />
		<result column="imei" property="imei" />
		<result column="android_api" property="androidApi" />
		<result column="created_at" property="createdAt" />
		<result column="update_at" property="updateAt" />
		<result column="delete_flag" property="deleteFlag" />
		<result column="delete_at" property="deleteAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, device_type AS deviceType, imei, android_api AS androidApi, created_at AS createdAt, update_at AS updateAt, delete_flag AS deleteFlag, delete_at AS deleteAt
    </sql>

</mapper>
