<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.mapper.SparrowUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sparrow.entity.SparrowUser">
		<id column="id" property="id" />
		<result column="user_type" property="userType" />
		<result column="nickname" property="nickname" />
		<result column="user_mobile_id" property="userMobileId" />
		<result column="salt" property="salt" />
		<result column="login_pwd" property="loginPwd" />
		<result column="user_device_id" property="userDeviceId" />
		<result column="status" property="status" />
		<result column="created_at" property="createdAt" />
		<result column="update_at" property="updateAt" />
		<result column="delete_flag" property="deleteFlag" />
		<result column="delete_at" property="deleteAt" />
		<result column="last_login_at" property="lastLoginAt" />
	</resultMap>
	<resultMap id="UserMobileResultMap" type="com.sparrow.entity.SparrowUser">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_type" jdbcType="TINYINT" property="userType" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		<result column="user_mobile_id" jdbcType="INTEGER" property="userMobileId" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
		<result column="user_device_id" jdbcType="INTEGER" property="userDeviceId" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
		<result column="delete_at" jdbcType="TIMESTAMP" property="deleteAt" />
		<result column="last_login_at" jdbcType="TIMESTAMP" property="lastLoginAt" />
		<association property="userMobile" javaType="com.sparrow.entity.SparrowUserMobile">  
			 <id column="id" jdbcType="INTEGER" property="id" />
			 <result column="user_id" jdbcType="INTEGER" property="userId" />
			 <result column="mobile" jdbcType="VARCHAR" property="mobile" />
			 <result column="sim_no" jdbcType="VARCHAR" property="simNo" />
			 <result column="mobile_uni" jdbcType="VARCHAR" property="mobileUni" />
			 <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
			 <result column="status" jdbcType="TINYINT" property="status" />
			 <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
			 <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
			 <result column="delete_at" jdbcType="TIMESTAMP" property="deleteAt" />   
		</association>
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_type AS userType, nickname, user_mobile_id AS userMobileId, salt, login_pwd AS loginPwd, user_device_id AS userDeviceId, status, created_at AS createdAt, update_at AS updateAt, delete_flag AS deleteFlag, delete_at AS deleteAt, last_login_at AS lastLoginAt
    </sql>
    
    <!-- 通用查询结果列 --> 
  	<select id="selectByMobile" resultMap="UserMobileResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Sep 02 11:40:28 CST 2017.
    -->
	    select 
	    a.id, user_type, nickname, user_mobile_id, salt, login_pwd, user_device_id, a.status, 
	    a.created_at, a.update_at, a.delete_at, a.last_login_at, m.mobile
	    from sparrow_user a
	    left join sparrow_user_mobile m on a.user_mobile_id = m.id
	    <where>
	    	m.mobile = #{mobile,jdbcType=VARCHAR}
		    <if test="method == null">
		    	and a.delete_flag = 1 and m.delete_flag = 1
		    </if>
		    <if test="method == 1">
		    	and (a.delete_flag = -1 or m.delete_flag = -1)
		    </if>
	     </where>
	</select>

</mapper>
