<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.mapper.SparrowThirdLoginInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sparrow.entity.SparrowThirdLoginInfo">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="type" property="type" />
		<result column="nickname" property="nickname" />
		<result column="openid" property="openid" />
		<result column="unionid" property="unionid" />
		<result column="access_token" property="accessToken" />
		<result column="created_at" property="createdAt" />
		<result column="update_at" property="updateAt" />
		<result column="delete_flag" property="deleteFlag" />
		<result column="delete_at" property="deleteAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, type, nickname, openid, unionid, access_token AS accessToken, created_at AS createdAt, update_at AS updateAt, delete_flag AS deleteFlag, delete_at AS deleteAt
    </sql>

</mapper>
