<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.mapper.SparrowQuestionReviewMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sparrow.entity.SparrowQuestionReview">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="question_type" property="questionType" />
		<result column="content" property="content" />
		<result column="reason_id" property="reasonId" />
		<result column="reason_other" property="reasonOther" />
		<result column="operator_id" property="operatorId" />
		<result column="operate_method" property="operateMethod" />
		<result column="status" property="status" />
		<result column="operate_at" property="operateAt" />
		<result column="created_at" property="createdAt" />
		<result column="update_at" property="updateAt" />
		<result column="delete_flag" property="deleteFlag" />
		<result column="delete_at" property="deleteAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, question_type AS questionType, content, reason_id AS reasonId, reason_other AS reasonOther, operator_id AS operatorId, operate_method AS operateMethod, status, operate_at AS operateAt, created_at AS createdAt, update_at AS updateAt, delete_flag AS deleteFlag, delete_at AS deleteAt
    </sql>

</mapper>
